body{
	background-color:gray;
}
div.ui{
	position:relative;
}

div.info{
	height: 200px;
	width: 50%;
	position:absolute;
	left:0;
	/*border: 3px solid #73AD21;*/

}

div.setting{
	left:50%;
	position:absolute;
	/*border: 3px solid #73AD21;*/
	text-align:center;
	width: 50%;

}

button.but1{
	margin-bottom:50px;
	margin-top:50px;
	width:40%;
	height:150px;
	border-radius: 25px;
	box-shadow: 2px 2px;

}
button.but2{
	width:40%;
	height:150px;
	margin-bottom:50px;
	margin-top:50px;
	border-radius: 25px;
	box-shadow: 2px 2px;
	
}
button.dis{
	width:80%;
	height:50px;
	margin-bottom:50px;
	margin-top:50px;
	border-radius: 25px;
	box-shadow: 2px 2px;
}
button.back{
	left:0;
	border-radius: 25px;

}

#fname{
	width:70%;
	height:25px;
	margin-bottom:50px;
	margin-top:50px;
	border-radius: 25px;

}

#submit{
	height:25px;
	border-radius: 25px;
	margin-bottom:50px;
	margin-top:50px;
}

div.tba{
	text-align:center;
	/*border: 3px solid #73AD21;*/
	margin-left:10%;
	margin-top:5%;
	width:75%;
	height:250%;
	background-color:white;
	border-radius: 25px;

}